@model LoginViewModel

@{
	ViewData["Title"] = "Iniciar Sesión";
}

<div class="container-fluid vh-100 d-flex align-items-center justify-content-center imagen-fondo">
	<div class="row w-100 align-items-center imagen-container shadow-lg" style="border-radius: 20px max-width: auto; max-height: fit-content">
		<!-- Panel de Información -->
		<div class="col-lg-6 col-md-12 text-center mb-4 mb-lg-0 mt-4">
			<h1 class="display-3 fw-bold">TaskCore</h1>
			<p class="lead mb-4" style="font-size: larger;
			 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
				Simplifica tu productividad con una herramienta moderna para gestionar tus tareas.
			</p>
			<img src="/image/Logo inicio sesion.svg" alt="Task management" class="img-fluid" style="max-width: 50%; height: 50%;">
		</div>

		@if(ViewData.Keys.Contains("Mensaje"))
		{
			<p stytle="color:red">
				@ViewData["mensaje"]
			</p>
		}

		<!-- Formulario de Inicio de sesion -->
		<div class="col-lg-6 col-md-12 mb-4">
			<div class="card shadow-lg border-0 mx-auto mt-4" style="max-width: 400px; border-radius: 15px;">
				<div class="card-body p-4 p-md-5 mx-auto">
					<h2 class="text-center text-dark mb-4">¡Inicia Sesion en tu cuenta!</h2>
					<form asp-action="Login">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>

						<!-- Campo Email -->
						<div class="mb-3">
							<label asp-for="Email" class="form-label text-dark">Correo Electrónico</label>
							<input asp-for="Email" autocomplete="on" class="form-control" placeholder="Ingresa tu correo electrónico" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>

						<!-- Campo Contraseña -->
						<div class="mb-3">
							<label asp-for="Password" class="form-label text-dark">Contraseña</label>
							<input asp-for="Password" class="form-control" type="password" placeholder="Ingresa tu contraseña" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<!-- Campo Recordar Sesión -->
						<div class="form-check mb-3">
							<input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
							<label class="form-check-label" asp-for="Recuerdame"></label>
						</div>

						<!-- Botón de Login -->
						<button type="submit" class="btn btn-primary w-100" style="border-radius: 30px;">Iniciar Sesion</button>

						<!-- Enlace para Registro -->
						<div class="text-center mt-3">
							<h6 class="text-dark">¿No tienes una cuenta?</h6>
							<a class="btn btn-outline-primary btn-sm" asp-action="registro" style="border-radius: 30px;">Registrarse</a>
						</div>
						<hr>
						<!-- Botón para iniciar sesión con Microsoft -->
						<div class="text-center mt-3">
							<a class="btn btn-outline-success bi bi-microsoft" asp-action="loginExterno" asp-route-proovedor="Microsoft">
								Microsoft
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div> 


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}